.movie-of-the-day__header {
  padding: 20px;
  text-align: center;
  font-size: 50px;
  color: rebeccapurple;
}

@media (max-width: 768px) {
  .movie-of-the-day__header {
    font-size: 40px;
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 480px) {
  .movie-of-the-day__header {
    font-size: 30px;
    margin: 0;
    padding: 0;
  }
}
