.movie-full {
  position: relative;
  max-width: 400px;
  margin: 100px auto 50px;
  text-align: center;
  background-color: rgb(102, 51, 153);
  overflow: hidden;
  border-radius: 8px;
}

.movie-full__poster {
  width: 100%;
  display: block;
  margin-bottom: 20px;
  border-top: 8px;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  line-height: 0;
}

.play-button__icon {
  width: 100%;
  opacity: 0.5;
}
.play-button__text {
  font-family: "Zilla Slab", Georgia, "Times New Roman", serif;
  color: #fff;
  position: absolute;
  top: 70%;
  right: 35%;
  font-size: 20px;
  opacity: 0.5;
}

.play-button:hover .play-button__icon {
  opacity: 1;
  transform: scale(1.1);
  transition: 1s;
}

.play-button:hover .play-button__text {
  opacity: 1;
  transition: 1s;
}

.iframe__trailer {
  margin: 0;
  width: 800px;
  height: 406px;
  border: none;
}

.movie-full__overview {
  color: white;
  font-weight: bolder;
  padding-left: 5px;
  padding-right: 5px;
}

.movie-full__title {
  color: #fff;
}

.modal {
  font-family: "Cabinet Grotesk", "Inter", "Helvetica Neue", "Arial", sans-serif;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #00000080;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.3s, visibility 0.3s;
}

.modal__opened {
  opacity: 1;
  visibility: visible;
}
.modal__close-button {
  position: absolute;
  top: 10px;
  right: 1px;
  background-color: transparent;
  border: none;
}
.modal__close-image {
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding: 0;
}

.modal__content {
  position: relative;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

@media (max-width: 840px) {
  .iframe__trailer {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }

  .modal__content {
    width: 95%;
  }
  .modal__close-button {
    position: absolute;
    top: -5px;
    right: -9px;
    background-color: transparent;
    border: none;
  }
}
