.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  color: white;
  font-size: 14px;
}

.footer__right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.tiktok__icon {
  width: 20px;
  height: 20px;
}

.tiktok__icon:hover {
  transform: scale(1.2);
}
