.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f3f3f3;
}

.page__content {
  max-width: 1700px;
  margin: 20px 0;
  padding: 20px;
}
.page__content--empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #666;
  font-size: 18px;
}
